
 input:focus{
   color: #ff6600 !important;
 }
 /* label underline focus color */
input:focus {
   border-bottom: 1px solid #ff6600 !important;
   box-shadow: 0 1px 0 0 #ff6600 !important
 }
 
textArea:focus{
   color: #ff6600 !important;
 }
 /* label underline focus color */
textArea:focus {
   border-bottom: 1px solid #ff6600 !important;
   box-shadow: 0 1px 0 0 #ff6600 !important
 }